#brasil{
    border: solid 3px red;
    height: 60vh;
    width: 80vw;
    background-color: lightblue;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brasilimg{
    height: 50vh;
    width: 50vh;
}